.text {
    font-size: 6vw;
    word-spacing: 0.2em;
    margin: 0 auto;
    background: #fff;
    padding: 1em;
    border-bottom: 1vw solid #0e6dad;
    position: relative;
    line-height: 1.2em;
    font-family: 'Sora', monospace;

}

.h1 {
    color: black;
}

.text span {
    opacity: 0; 
}

.text span.revealed {
    opacity: 1; 
}

.text span.green {
    color: #27ae60; 
}